[Unit]
Description=Weather forecasting service
After=multi-user.target
Requires=network.target

[Service]
Type=idle
User=jordan
Environment="WEATHER_KEY=[INSERT KEY]"
ExecStart=source /home/jordan/env/bin/python /home/jordan/pi-forecaster/forecaster.py
Restart=on-success
RestartSec=60

[Install]
WantedBy=multi-user.target