[Unit]
Description=Weather forecasting service
After=multi-user.target
Requires=network.target

[Service]
Type=idle
User=jordan
ExecStart=/usr/bin/bash /home/jordan/pi-forecaster/start.sh
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target